<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->   
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'layouts/header' %> 


  <div class="container">
    <div class="content">
  <% if @title != "Home" && !@user then%>
      <div class="page-header">
          <h1><%= @title %><small><%= @tagline %></small></h1>
      </div>
  <% end %>
      
      <%=  yield %>
    </div>

  <%= render 'layouts/footer' %>



  </div> <!-- / container -->

  <%= debug(params) if Rails.env.development? %>
  <%= debug(@user) if Rails.env.development? %>


</body>
</html>
