<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->   
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'layouts/header' %> 


  <div class="container">
      <% flash.each do |key, value| %>
      <div class="flash alert-message <%= key %>"> <%= value %> </div>
      <% end %>

    <div class="content">



     <%=  yield %>

    </div>

  <%= render 'layouts/footer' %>

  </div> <!-- / container -->

  <%= debug(params) if Rails.env.development? %>
  <%= debug(@user) if Rails.env.development? %>


</body>
</html>
